@{
    ViewData["Title"] = "Gerencia";
}
<p><a asp-controller="RolesCatalogoes" asp-action="Index">Roles</a></p>
<p><a asp-controller="Vehiculoes" asp-action="Index">Inventario</a></p>
<p><a asp-controller="ApplicationUsers" asp-action="Index">Usuarios</a></p>
<p><a asp-controller="TiposCatalogoes" asp-action="Index">Administrar Tipos de carro</a></p>