@{
    ViewData["Title"] = "Gerencia";
}
<p><a asp-controller="Vehiculoes" asp-action="Index">Inventario</a></p>
<p><a asp-controller="ApplicationUsers" asp-action="Index">Usuarios</a></p>
<p><a asp-controller="TiposCatalogo" asp-action="Index">Administrar Tipos de carro</a></p>
<p><a asp-controller="StatusCatalogo" asp-action="Index">Administrar Tipos de estados</a></p>