@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src=".\img/logo.jpg" class="logoicon">
        </div>
    </div>
    <div class="row">
        <h1>Wheel Deal</h1>
    </div>
    <div class="row">
        <h2>¿Qué es lo que busca?</h2>
    </div>
    <!--Cuadro de búsqueda-->
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <a href="Busqueda.html">
                <h1>Carros</h1>
            </a>
        </div>
        <div class="col-sm-12 col-lg-4">
            <a href="Busqueda.html">
                <h1>Motos</h1>
            </a>
        </div>
        <div class="col-sm-12 col-lg-4">
            <a href="Busqueda.html">
                <h1>Otros</h1>
            </a>
        </div>
    </div>
</div>
